# Server Environment Configuration
PORT=5001
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hiremind_db?schema=public"

# JWT Secrets
JWT_ACCESS_SECRET="hiremind_access_super_secret_key_change_in_production_2026"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="hiremind_refresh_super_secret_key_change_in_production_2026"
JWT_REFRESH_EXPIRES_IN="7d"

JWT_RESET_PASSWORD_SECRET="hiremind_reset_super_secret_key_change_in_production_2026"
JWT_RESET_PASSWORD_EXPIRES_IN="1h"

# CORS Configuration
CORS_ORIGIN="http://localhost:3000"

# App URL
APP_URL="http://localhost:3000"
